@tailwind base;
@tailwind components;
@tailwind utilities;
.main-sidebar {
    margin-top: 57px; /* Ajusta según altura de tu navbar */
    height: calc(100vh - 57px);
}

@media (max-width: 767.98px) {
    .main-sidebar {
        margin-top: 50px;
        height: calc(100vh - 50px);
    }
}